<style>
  .collapsible {
    display: grid;
    width: 100%;
  }

  .collapsible-header {
    background-color: #fff;
    padding: 1rem .5rem;
    text-align: center;
    font-size: 1.4em;
    font-weight: 600;
    border: none;
    border-bottom: 2px solid #212121;
    transition: all .28s ease-in-out;
    cursor: pointer;
  }

  .collapsible-body {
    background-color: #f2f2f2;
    transition: all .28s ease-in-out;
    border-radius: 0 0 8px 8px;
    display: none;
  }

  /* On small devices, collapse the chat history */
  @media (max-width: 700px) {
    .collapsible-body {
      display: block;
      padding: 1rem .5rem;
    }
    .collapsible-header {
      padding: 0;
    }
  }
</style>